<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>誰でも簡単形態素解析</title>
    <!-- jquery -->
    <script src="/js/jquery.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <h1 style="text-align: center">誰でも形態素解析</h1>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <form action="/" method="post">
            <div class="field">
              <input type="text" name="text" class="form-control">
            </div>
            <div class="action" style="text-align: center">
              <input type="submit" value="解析" class="btn btn-primary">
            </div>
          </form>

          <!-- ここに実行結果を表示 -->
          <hr />
            <div class="panel panel-info">
              <div class="panel panel-heading">
                <h2 style="text-align: center">解析文</h2>
              </div>
              <div class="panel panel-body">
                <p style="text-align: center"><b><%= @text %></b></p>
              </div>
            </div>

          <div class="panel panel-success">
            <div class="panel panel-heading">
              <h2 style="text-align: center">解析結果</h2>
            </div>
            <div class="panel panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <p style="text-align: left"><b><%= @surface %></b></p>
                </div>
                <div class="col-sm-10">
                  <p style="text-align: left"><%= @feature %></p>
                </div>
              </div>
            </div> 
          </div>

        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>
