<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>誰でも簡単形態素解析</title>
    <!-- jquery -->
    <script src="/js/jquery.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <h1 style="text-align: center">誰でも簡単形態素解析</h1>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <!-- 入力フォーム -->
          <form action="/" method="post">
            <div class="field">
              <input type="text" name="text" class="form-control">
            </div>
            <div class="action" style="text-align: center">
              <input type="submit" value="解析" class="btn btn-primary">
            </div>
          </form>

          <!-- ここに実行結果を表示 -->
          <hr />
          <div class="panel panel-info">
            <div class="panel panel-heading">
              <h2 style="text-align: center">解析文</h2>
            </div>
            <div class="panel panel-body">
              <p style="text-align: center"><b><%= @text %></b></p>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel panel-heading">
              <h2 style="text-align: center">解析結果</h2>
            </div>
            <div class="panel panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <p style="text-align: left"><b><%= @surface %></b></p>
                </div>
                <div class="col-sm-10">
                  <p style="text-align: left"><%= @feature %></p>
                </div>
              </div>
            </div> 
          </div>
          <hr />

          <!-- モーダルウィンドウを表示させるボタン -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">説明</button>
          <p style="text-align: center">
            &copy; kyo-industry shiotomo 2018
          </p>


          <!-- モーダルウィンドウの内容 -->
          <div class="modal fade" id="help">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" style="text-align: center">誰でも簡単形態素解析ツール</h4>
                </div>
                <div class="modal-body">
                  <h4 style="color: blue">このツールは？</h4>
                  <p>
                    誰でも簡単に形態素解析を行えるように作成したツールです。
                    <br />
                    入力フォームに形態素解析したい文章をいれてください。
                  </p>
                  <h4 style="color: blue">APIについて</h4>
                  <p>
                    kyo-industryにはAPI機能があります。
                    <br />
                    https://kyo-industry.tomosse.work/api/analiserに{"text": "解析にしたい文"}といった構成のJSONをPOSTしてあげると、POSTした文の形態素解析を行った結果が返ってきます。
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>
